<div class="w-full h-full flex flex-col gap-2 bg-primary-50">
    <p-toolbar>
        <ng-template #start>
            <span class="pl-3 text-primary font-medium text-l">CoachAssistant</span>
        </ng-template>
        <ng-template #center>
            <p-button icon="pi pi-user" text severity="help" label="Datos del Coachee" />
        </ng-template>
        <ng-template #end>
            <p-button [icon]="isFullScreen() ? 'pi pi-window-minimize' : 'pi pi-window-maximize'" text severity="info"
                (onClick)="toggleFullScreen()" />
            <p-button icon="pi pi-sign-out" text severity="danger" (onClick)="goCoachees()" />
        </ng-template>
    </p-toolbar>
    <p-confirmdialog />
    <form [formGroup]="coacheeForm" (ngSubmit)="onSubmit()">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-2">

            <div class="flex flex-col gap-2">
                <label for="name" class="font-semibold">Nombre *</label>
                <input pInputText id="name" formControlName="name" />

                @if (coacheeForm.controls.name.invalid && coacheeForm.controls.name.touched) {
                <small class="text-red-500">El nombre es obligatorio.</small>
                }
            </div>

            <div class="flex flex-col gap-2">
                <label for="surname" class="font-semibold">Apellido *</label>
                <input pInputText id="surname" formControlName="surname" />

                @if (coacheeForm.controls.surname.invalid && coacheeForm.controls.surname.touched) {
                <small class="text-red-500">El apellido es obligatorio.</small>
                }
            </div>

            <div class="flex flex-col gap-2">
                <label for="middlename" class="font-semibold">Segundo Apellido</label>
                <input pInputText id="middlename" formControlName="middlename" />
            </div>

            <div class="flex flex-col gap-2">
                <label for="email" class="font-semibold">Email</label>
                <input pInputText type="email" id="email" formControlName="email" />

                @if (coacheeForm.controls.email.errors?.['email'] && coacheeForm.controls.email.touched) {
                <small class="text-red-500">Debe ser un email válido.</small>
                }
            </div>

            <div class="flex flex-col gap-2">
                <label for="dni" class="font-semibold">DNI</label>
                <p-inputMask id="dni" formControlName="dni" mask="99999999-a" />
            </div>

            <div class="flex flex-col gap-2">
                <label for="phone" class="font-semibold">Teléfono</label>
                <p-inputMask id="phone" formControlName="phone" mask="(+34) 999 999 999" />
            </div>

            <div class="flex flex-col gap-2">
                <label for="birthdate" class="font-semibold">Fecha de Nacimiento</label>
                <p-datepicker id="birthdate" formControlName="birthdate" [showIcon]="true" dateFormat="dd-mm-yy"
                    [style]="{'width': '100%'}" [inputStyle]="{'width': '100%'}" />
            </div>

            <div class="flex flex-col gap-2 md:col-span-2">
                <label for="address" class="font-semibold">Dirección</label>
                <input pInputText id="address" formControlName="address" />
            </div>

            <p-divider class="md:col-span-2" />

            <div class="flex flex-col gap-2">
                <label for="company" class="font-semibold">Empresa</label>
                <input pInputText id="company" formControlName="company" />
            </div>

            <div class="flex flex-col gap-2">
                <label for="company_role" class="font-semibold">Cargo en la Empresa</label>
                <input pInputText id="company_role" formControlName="company_role" />
            </div>

            <div class="flex flex-col gap-2 md:col-span-2">
                <label for="company_address" class="font-semibold">Dirección de la Empresa</label>
                <input pInputText id="company_address" formControlName="company_address" />
            </div>

        </div>

        <div class="flex justify-center gap-2 my-4">
            <p-button label="Guardar Coachee" type="submit" icon="pi pi-check" [disabled]="coacheeForm.invalid" />
        </div>
    </form>
    <div class="flex flex-col justify-between items-center gap-2">
        @if (process()) {
        <a class="self-start font-semibold">Datos del Proceso</a>
        <p-table [value]="[process()]" dataKey="id" scrollHeight="flex" id="process" [size]="'small'" disabled
            class="w-full">
            <ng-template #header>
                <tr>
                    <th [width]="'30%'">Tipo de Proceso</th>
                    <th [width]="'30%'">Duración minutos</th>
                    <th [width]="'30%'">Fecha inicio</th>
                    <th>Acción</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-process>
                <tr>
                    <td>{{ process.type }}
                    </td>
                    <td>{{ process.duration_minutes }}
                    </td>
                    <td>{{ process.start_date | date:'dd-MM-yyyy' }}
                    </td>
                    <td>
                        <p-button icon="pi pi-folder-open" text severity="warn" tooltip="Ver proceso"
                            [routerLink]="['/process', this.id(), this.process()?.id]" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
        }@else {
        <p-button label="Agregar Proceso&nbsp;" icon="pi pi-folder-plus" severity="success"
            [routerLink]="['/process', this.id(), '']" [hidden]="!this.id()" />
        }
    </div>

</div>