p-panel{
    --p-panel-header-padding:  0.5rem 0.5rem;
    --p-panel-toggleable-header-padding: 0rem 0.5rem;
    --p-panel-content-padding: 0rem 0.5rem 0.5rem 0.5rem;
    --p-panel-footer-padding: 0rem;
}