# Dependencias
/node_modules

# Archivos de entorno
# .env
# .env.*.local

# Compilación y dependencias de salida
/dist
/out
/build

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema o del editor
.DS_Store
.idea
.vscode
*.swp

# Archivos de cobertura de tests
/coverage

# Configuración temporal
*.local
