<p-confirmdialog />
<div class="w-full h-full flex items-center justify-center">
  <div class="w-full max-w-md p-8 rounded-border shadow-2xl bg-surface-0">
    <h2 class="text-2xl font-semibold text-primary mb-6 text-center">Iniciar sesión</h2>

    <form [formGroup]="loginForm" (submit)="onSubmit()">
      <div class="mb-4">
        <label for="email" class="block mb-2">Correo electrónico</label>
        <input pInputText id="email" type="email"
          class="w-full px-4 py-2 "
          placeholder="ejemplo@correo.com" formControlName="email" />
        @if (loginForm.controls.email.invalid && loginForm.controls.email.touched) {
        <small class="text-red-500">El correo electrónico es obligatorio.</small>
        }
      </div>

      <div class="mb-6">
        <label for="password" class="block mb-2">Contraseña</label>
        <input pInputText id="password" type="password"
          class="w-full px-4 py-2"
          placeholder="********" formControlName="password" />
        @if (loginForm.controls.password.invalid && loginForm.controls.password.touched) {
        <small class="text-red-500">La contraseña es obligatoria.</small>
        }
      </div>

      <button pButton type="submit" label="Entrar"
        class="w-full py-3">
      </button>
    </form>

    <div class="mt-6 text-sm text-center">
      ¿No tienes cuenta?
      <a href="#" class="text-primary font-medium hover:underline">Regístrate</a>
    </div>
  </div>
</div>