/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";

p-toolbar{
    padding: 0
}
p-panel {
  --p-panel-header-padding: 0.5rem 0.5rem;
  --p-panel-toggleable-header-padding: 0rem 0.5rem;
  --p-panel-content-padding: 0rem 0.5rem 0.5rem 0.5rem;
  --p-panel-footer-padding: 0rem;
}