/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";

:root {
  --primary-color: #0066ff;
  --surface-border-radius: 8px;
  --text-color: #1a202c;
}